<p>
The book
"<%= @book_title %>"
written by
"<%= @book_authors %>"
looks like this:
</p>

<p>
<img src="<%= @book_cover %>" alt="<%= @title %>">
</p>

<p>
Preview it <a href="<%= @previewLink %>" target="_blank">Here</a>
</p>
